* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: whitesmoke;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: darkslategrey;
  text-align: center;
}

header ul {
  display: inline-flex;
  list-style: none;
}
header li {
  width: 100%;
  margin: 10px;
  padding: 10px 20px;
}
header a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: 20px;
}
header a:hover {
  color: darkslategray;
  background-color: white;
  padding: 20px 15px;
}
form {
  width: 50%;
  background-color: darkslategrey;
  margin: 100px auto;
  padding: 50px;
}
label {
  font-size: 20px;
  color: whitesmoke;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 1rem 4rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: darkslategrey;
  display: block;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 5px;
}
button:hover{
color: red;
}
select {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  color: darkslategrey;
}
option {
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  background-color: darkslategray;
}
h1 {
  color: darkslategray;
  text-align: center;
  margin: 20px;
}
main {
  margin: 80px 50px 50px 50px;
  margin-left: 50px;
}
div h2 {
  text-align: center;
  color: antiquewhite;
  background-color: darkslategray;
  padding: 10px;
  font-size: 30px;
}
main ul,
ol {
  color: darkslategrey;
  padding: 10px;
  margin-bottom: 20px;
}
main li {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}
h3 {
  background-color: darkslategrey;
  color: antiquewhite;
  padding: 10px;
}
p {
  font-size: 15px;
  font-weight: bold;
  color: darkslategray;
  padding: 15px;
  line-height: 25px;
}
form p, a{
    color: whitesmoke;
    text-align: center;
}
form a:hover{
    color: black;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: darkslategrey;
}
#logfoot {
  position: fixed;
  bottom: 0;
  left: 0;
}
img {
  display: block;
  width: 250px;
  margin: 0 auto;
}
textarea {
  width: 100%;
  height: 100px;
}
#contact-me {
background-color: darkslategray;
animation-name: anime;
animation-duration: 4s;
animation-delay: 4s;
animation-iteration-count: infinite;
}
button a{
color: whitesmoke;
text-decoration: none;

}
@keyframes anime {
  0% {
    background-color: darkslategray;

  }
  25% {
    background-color: greenyellow;
    
  }
  50% {
    background-color: green;
    
  }
  100% {
    background-color: darkolivegreen;
  }
}
footer a {
  text-decoration: none;
  font-size: 20px;
  color: antiquewhite;
  padding: 5px;
}
footer a:hover {
    color: darkslategray;
    background-color: whitesmoke;
}
i {
  padding: 6px;
}
